* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: darkslateblue;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: grid;
  place-items: center;
}

.form-container {
  margin: 40px auto;
}

.title {
  text-align: center;
  margin-bottom: 5px;
}

.movie-input {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 0 auto;
}

.movie {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.movie img {
  width: 100%;
  border: 2px solid red;
  height: 400px;
  display: block;
  object-fit: cover;
}

.move-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.year {
  text-align: center;
}
